.home {
  background-color: #f0f9ff;
}

.header-1 {
  text-align: center;
  background-color: #ccfbf1;
  color: #11766e;
}

.nav-menu {
  display: flex;
  gap: 10px;
  background-color: #e0f2fe;
  align-items: center;
  height: 20px;
  justify-content: center;
}

.img {
  text-align: center;
}
h3 {
  color: #2273ab;
}
a {
  text-decoration-line: none;
}

h3:hover {
  cursor: pointer;
  background-color: #0284c7;
  color: #fff;
}
h2 {
  color: #2e6b7e;
}
.title-1 {
  font-size: large;
}

.main-1 {
  background-color: #fff;
  margin: 5px;
}

li:hover {
  cursor: auto;
  color: #4967c1;
  background-color: #dbeafe;
}
.footer {
  text-align: center;
  background-color: #0f766e;
  color: #fff;
}
